absl-py
aiohttp
aiosignal
appdirs
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
async-timeout
attrs
autopep8
backcall
beautifulsoup4
black
bleach
blinker
bokeh
Bottleneck
brotlipy
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
cryptography
cycler
dask
debugpy
decorator
defusedxml
entrypoints
executing
Flask
Flask-Cors
flatbuffers
flit_core
fonttools
frozenlist
fsspec
future
gast
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
httplib2
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonpath-ng
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
levenshtein
libclang
locket
Markdown
MarkupSafe
matplotlib
matplotlib-inline
Metaphone
mistune
mkl-fft
mkl-random
mkl-service
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numpy
oauth2client
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
partd
pathspec
pexpect
pickleshare
Pillow
platformdirs
ply
pooch
probableparsing
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic
PyDrive
Pygments
PyJWT
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-crfsuite
python-dateutil
python-stdnum
pytz
PyYAML
pyzmq
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
Send2Trash
six
soupsieve
stack-data
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
testpath
threadpoolctl
toml
tomli
toolz
tornado
tqdm
traitlets
typing_extensions
uritemplate
urllib3
usaddress
varname
wcwidth
webencodings
Werkzeug
widgetsnbextension
wordcloud
wrapt
yarl
zipp