@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트를 불러옵니다 */
@font-face {
    font-family: 'Tmoney RoundWind';
    src: url('./assets/fonts/subset-TmoneyRoundWind-Regular.woff2') format('woff2'),
         url('./assets/fonts/subset-TmoneyRoundWind-Regular.woff') format('woff'),
         url('./assets/fonts/subset-TmoneyRoundWind-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Tmoney RoundWind';
    src: url('./assets/fonts/subset-TmoneyRoundWind-ExtraBold.woff2') format('woff2'),
         url('./assets/fonts/subset-TmoneyRoundWind-ExtraBold.woff') format('woff'),
         url('./assets/fonts/subset-TmoneyRoundWind-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

body {
	line-height: 1;
/* 폰트 패밀리를 지정합니다. */
    font-family:
            'Tmoney RoundWind',
            system-ui,
            -apple-system, /* Firefox supports this but not yet `system-ui` */
            'Segoe UI',
            Roboto,
            Helvetica,
            Arial,
            sans-serif,
            'Apple Color Emoji',
            'Segoe UI Emoji';

  /* react-toastify의 폰트 패밀리를 지정합니다. */
  
  --toastify-font-family:
            'Tmoney RoundWind',
            system-ui,
            -apple-system, /* Firefox supports this but not yet `system-ui` */
            'Segoe UI',
            Roboto,
            Helvetica,
            Arial,
            sans-serif,
            'Apple Color Emoji',
            'Segoe UI Emoji';
}

